@tailwind base;
@tailwind components;
@tailwind utilities; 

* { 
  font-family: var(--font-poppins);
  opacity: 1;
  transition: opacity 0.5s ease-in-out; 
  scrollbar-width: thin; 
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} 
